<div class="row my-1">
  <h1>{{this.selectedMovie()?.title}}</h1>
</div>
<div class="video-container row mx-3">
  <app-vjs-player
    class="medium"
    [options]="{
      fill: false,
      autoplay: false,
      aspectRatio: '4:3',
      responsive: true,
      sources: [{ src: selectedMovie()?.movieUrl!, type: 'video/mp4' }]
    }"
  ></app-vjs-player>
</div>
<div class="row my-2">
  <p>Directed By: {{this.selectedMovie()?.director}}</p>
  <p>Genre(s): {{this.selectedMovie()?.genre}}</p>
  <p>Summary: {{this.selectedMovie()?.summary}}</p>
  <div class="row my-2 w-25">
    <mat-form-field>
      <mat-label for="rating">Rate this movie:</mat-label>
      <mat-select id="rating" [formControl]="this.ratingsDropdown">
        @for (val of [1,2,3,4,5,6,7,8,9,10]; track $index) {
          <mat-option [value]="val">{{val}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  <button mat-flat-button [disabled]="!this.ratingsDropdown.valid" (click)="addRating()" [disabled]="this.ratingsDropdown.disabled">Submit Rating</button>
</div>
</div>
<div class="row my-1">
  <app-movie-comment [currentMovieId]="this.selectedMovie()?.id!"></app-movie-comment>
</div>