<mat-card class="movie-card" appearance="outlined" (click)="onClickMovieCard(movie.id)">
    <mat-card-header class="my-2">
        <mat-card-title>{{movie.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content class="my-2">
        <p>Directed By: {{movie.director}}</p>
        <p>Genre(s): {{movie.genre}}</p>
        <div class="movie-summary">
            <p>{{movie.summary}}</p>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div class="position-absolute bottom-0 start-0 m-2 d-flex">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
            <span class="mx-1">{{movie.rating}}</span>
        </div>
    </mat-card-actions>
</mat-card>