<form [formGroup]="movieMetadataForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="p-2">
    <mat-card-header class="my-3">
      <mat-card-title>Movie Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row my-2">
        <div class="column">
          <mat-form-field class="w-100">
            <input matInput placeholder="Title" formControlName="title">
            @if (movieMetadataForm.controls['title'].hasError('required')) {
            <mat-error>Title is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row my-2">
        <div class="column">
          <mat-form-field class="w-100">
            <mat-select placeholder="Genre" formControlName="genre">
              @for (genre of genres; track genre) {
              <mat-option [value]="genre.name">{{ genre.name }}</mat-option>
              }
            </mat-select>
            @if (movieMetadataForm.controls['genre'].hasError('required')) {
            <mat-error>Genre is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row my-2">
        <div class="column">
          <mat-form-field class="w-100">
            <input matInput placeholder="Director(s)" formControlName="director">
            @if (movieMetadataForm.controls['director'].hasError('required')) {
            <mat-error>Director is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>

      </div>
      <div class="row my-2">
        <div class="column">
          <mat-form-field class="w-100">
            <mat-label>Release Date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
            @if (movieMetadataForm.controls['releaseDate'].hasError('required')) {
            <mat-error>Release Date is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="my-3 d-flex">
      <button mat-raised-button type="submit" [disabled]="!this.movieMetadataForm.valid">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>